/* Reset default styles and set the font-family */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Style the heading */
.heading{
    margin-left: 10px;
    font-size: 50px;
    color:rgb(0, 255, 195);
    font-weight:bold ;
    
}

/* Style the main container */
.container {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(calc1.jpg);
    background-size: 100%;
    
}

/* Style the calculator */
.calculator{
    background: #34aeeb;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Center the calculator horizontally */
    max-width: 600px; /* Adjust the maximum width for responsiveness */
}

/* Style calculator form inputs */
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2),
    0 -2px 4px rgba(255, 255, 255, 0.2), 0 -4px 8px rgba(255, 255, 255, 0.2), 0 -8px 16px rgba(255, 255, 255, 0.2);
    background: transparent;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;
}

/* Style the display input field */
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

/* Style the display input text */
form .display input{
    text-align: right;
    flex: 1;
    font-size: 2rem; 
}

/* Style operator buttons */
form input.operator{
    background-color: rgb(255, 251, 0);
    color: black;
    font-weight: bold;
}

/* Style main (memory-related) buttons */
form input.main{
    height:45px ;
    background-color: grey;
}

/* Style the delete (DE) button */
form input.operator1{
    background-color: red;
    font-weight: bold;
}

/* Style the AC (All Clear) button */
form input.operator3{
    background-color: black;
    font-weight: bold;
    color: white;
}


/* Media Query for Mobile Phones */
@media (max-width: 768px) {
    .container  {
       width: 100%;
       display: block;
    }
    form .calculator{
        width: 100%;
        display: block;
    }

}
